In [152]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [153]:
def web_scrape_cia(url):
    response = requests.get(url)
    page = response.text
    soup = BeautifulSoup(page,'html5lib')
    right_table=soup.find('table')
    #print(right_table)

    cols = []
    cols = [element.text for element in soup.find_all('th')]

    entries = []
    for entry in right_table.find_all('tr')[1:]:
        # ignore column 0 with the picture
        desired_info = [e.text for e in entry.find_all('td')]
        entries.append(desired_info)

    return pd.DataFrame(entries,columns=cols)

In [154]:
# electricity consumption per country
url = 'https://www.cia.gov/library/publications/the-world-factbook/rankorder/2233rank.html'
nrg = web_scrape_cia(url)
nrg.head()

  Rank         Country              (KWH) Date of Information
0    1           China  5,920,000,000,000           2016 est.
1    2   United States  3,911,000,000,000           2015 est.
2    3  European Union  2,771,000,000,000           2015 est.
3    4           India  1,048,000,000,000           2015 est.
4    5           Japan    933,600,000,000           2015 est.

In [155]:
# electricity consumption per country
url = 'https://www.cia.gov/library/publications/the-world-factbook/rankorder/2233rank.html'
nrg = web_scrape_cia(url)

In [156]:
nrg.head()

  Rank         Country              (KWH) Date of Information
0    1           China  5,920,000,000,000           2016 est.
1    2   United States  3,911,000,000,000           2015 est.
2    3  European Union  2,771,000,000,000           2015 est.
3    4           India  1,048,000,000,000           2015 est.
4    5           Japan    933,600,000,000           2015 est.

In [148]:
# internet users per country
url = 'https://www.cia.gov/library/publications/the-world-factbook/rankorder/2153rank.html'
usr = web_scrape_cia(url)

  Rank         Country INTERNET USERS Date of Information
0    1           China    730,723,960      July 2016 est.
1    2  European Union    398,100,000      July 2016 est.
2    3           India    374,328,160      July 2016 est.
3    4   United States    246,809,221      July 2016 est.
4    5          Brazil    122,841,218      July 2016 est.

In [ ]:
usr.head()